<style>

body{
    background-color: black;
  }
}
#page{
    background-color: white;
}
#intro{
    background-image: url("https://c1.staticflickr.com/3/2883/9726065738_e286c0e760_b.jpg");
    background-color: #FFEB45;
    background-size: 100%;
    color:
      white;
    font-family: 'Special Elite', cursive;
    padding-top:50px;
    padding-bottom:50px;
  
}
#portfolio{
  
  padding-top:50px;}

#connect{
  padding-top:50px;
padding-bottom:100px;}

.project-block{
  background-color: gray;
  img-rounded
}
#end{
  margin-bottom: 60px;
}
.body{
    background-color: white;
    background-size: 100%;
    color: black;
    font-family: 'Special Elite', cursive;
}

img.resize{
   max-width:10%;
}
.icon-resize{
  max-width: 64px;
  max-height: 64px;
}
.head{
    margin: auto;
}
.row{
  margin: auto;
}


.well{
 background-color: black;   
}
.project-icon {
    margin: auto;
    max-width:10%;
  }

</style>